{% extends 'base.html.twig' %}

{% block title %}Page edit{% endblock %}

{% block body %}
    <h1>Voici ma page edition</h1>

    <form action="{{ url('app_user_delete', { 'id': user.id }) }}" method="post">

        {# the argument of csrf_token() is the ID of this token #}
        <input type="hidden" name="token" value="{{ csrf_token('delete-item') }}">

        <button type="submit" class="btn btn-danger">Delete item</button>
    </form>

    {% include 'user/_form.html.twig' %}
{% endblock %}
